*{
  font-family: 'Barlow', sans-serif;
}
.App {
  text-align: center;
  margin-top: 2rem;
}
.popup-overlay{
    background-color: rgba(0,128,255,0.75)!important;
}
#popup-1{
  border-radius: 8px;
}
.popup-content{
  width:auto!important;
}